doraemon/Node-Red/node-red sample/setting_mqdclient.json
[
    {
        "id": "c7fc37fb.6d97f8",
        "type": "subflow",
        "name": "parameter",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "7b28759.63a0b8c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 300,
                "wires": [
                    {
                        "id": "4977949e.a5f2bc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "613e30d0.1e65c",
        "type": "http request",
        "z": "c7fc37fb.6d97f8",
        "name": "token_key request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ip_address}}/api/v1/auth",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "e2f0ef9a.900bb"
            ]
        ]
    },
    {
        "id": "66be12a7.fcd7bc",
        "type": "function",
        "z": "c7fc37fb.6d97f8",
        "name": "set header username password",
        "func": "msg.headers = {};\nmsg.headers = { 'Content-Type': 'application/json'}\n\nmsg.payload = {};\nmsg.payload={ \n    \"username\":env.get(\"username\"),\n    \"password\":env.get(\"password\")\n};\n\nmsg.ip_address = {};\nmsg.ip_address = env.get(\"ip_address\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "7e405c6.445b3a4"
            ]
        ]
    },
    {
        "id": "4977949e.a5f2bc",
        "type": "function",
        "z": "c7fc37fb.6d97f8",
        "name": "prepare header",
        "func": "msg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': \"JWT \" + msg.token\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e2f0ef9a.900bb",
        "type": "function",
        "z": "c7fc37fb.6d97f8",
        "name": "save token",
        "func": "msg.token = msg.payload.access_token\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "4977949e.a5f2bc"
            ]
        ]
    },
    {
        "id": "7b28759.63a0b8c",
        "type": "function",
        "z": "c7fc37fb.6d97f8",
        "name": "validate env variable",
        "func": "const ENV = [\n    \"username\",\n    \"password\",\n    \"ip_address\"\n]\n\nfor (var item in ENV)\n{\n    const v = env.get(ENV[item])\n    if (v === '' || v === undefined)\n    {\n        node.error(ENV[item] + \" env variable not set\")\n        return\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "66be12a7.fcd7bc"
            ]
        ]
    },
    {
        "id": "7e405c6.445b3a4",
        "type": "change",
        "z": "c7fc37fb.6d97f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip_address",
                "pt": "msg",
                "to": "ip_address",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "613e30d0.1e65c"
            ]
        ]
    },
    {
        "id": "52b0107d.f3a94",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f59fd9eb.9d16d8",
        "type": "inject",
        "z": "52b0107d.f3a94",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "2ce85125.15a53e"
            ]
        ]
    },
    {
        "id": "2ce85125.15a53e",
        "type": "subflow:c7fc37fb.6d97f8",
        "z": "52b0107d.f3a94",
        "name": "parameter",
        "env": [
            {
                "name": "username",
                "type": "str",
                "value": "admin"
            },
            {
                "name": "password",
                "type": "str",
                "value": "p@55w0rd"
            },
            {
                "name": "ip_address",
                "type": "str",
                "value": "192.168.11.160"
            }
        ],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "462263bd.cd881c",
                "465ccff1.ec307"
            ]
        ]
    },
    {
        "id": "b443aba8.466c98",
        "type": "http request",
        "z": "52b0107d.f3a94",
        "name": "put safebox mqdclient request",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://{{ip_address}}/api/v1/safeboxes/etc-mqdclient-config.json",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 790,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "462263bd.cd881c",
        "type": "function",
        "z": "52b0107d.f3a94",
        "name": "payload of mqdclient setting",
        "func": "msg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': \"JWT \" + msg.token\n}\n\nmsg.mqdclient = {\n    \"queue\": {\n        \"size-per-device\": 4096\n    },\n    \"qurrent\": {\n        \"get-properties-timeout-ms\": 3000,\n        \"subscriber-buffer-size\": 10,\n        \"pk-pairs\": [\n            {\n                \"qurrent-property\": \"machineNo\",\n                \"http-key\": \"machineNo\"\n            },\n            {\n                \"qurrent-property\": \"machineName\",\n                \"http-key\": \"machineName\"\n            }\n        ]\n    },\n    \"http\": {\n        \"post-frequency-ms\": 10,\n        \"max-consumption-per-queue\": 50\n    },\n    \"pipelines\": [\n        {\n            \"from-stream-id\": \"data\",\n            \"to-uri\": \"http://10.13.69.61:12345/mq-diverter/0.1/api/tx8100/Data\"\n        },\n        {\n            \"from-stream-id\": \"alarm_onchange\",\n            \"to-uri\": \"http://10.13.69.61:12345/mq-diverter/0.1/api/tx8100/Event\"\n        }\n    ]\n}\n\n\nmsg.payload = msg.mqdclient;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "b443aba8.466c98"
            ]
        ]
    },
    {
        "id": "465ccff1.ec307",
        "type": "debug",
        "z": "52b0107d.f3a94",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 200,
        "wires": []
    }
]