doraemon/Node-Red/node-red sample/upper_lower.json
[
    {
        "id": "ce282978.a5dac8",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c83aa42c.e49128",
        "type": "switch",
        "z": "ce282978.a5dac8",
        "name": "forward channel",
        "property": "payload.channels.D602",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "22",
                "vt": "num",
                "v2": "21.7",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "21.7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "62f3e4c5.afd70c"
            ],
            [
                "b610e039.90d76"
            ],
            [
                "264bcbe6.2afeb4"
            ]
        ]
    },
    {
        "id": "c840259c.dd17b8",
        "type": "qi-forward-on-change",
        "z": "ce282978.a5dac8",
        "name": "",
        "initialValue": "{\"alarm\":0}",
        "initialValueType": "json",
        "useInitialValue": true,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "8f95559e.800228"
            ]
        ]
    },
    {
        "id": "62f3e4c5.afd70c",
        "type": "function",
        "z": "ce282978.a5dac8",
        "name": "over upper",
        "func": "const at = msg.payload.at\n\nmsg.payload = {\n    \"deviceId\": \"alarm\",\n    \"at\": at,\n    \"channels\": {\n        \"alarm\": 1\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "c840259c.dd17b8"
            ]
        ]
    },
    {
        "id": "b610e039.90d76",
        "type": "function",
        "z": "ce282978.a5dac8",
        "name": "normal",
        "func": "const at = msg.payload.at\n\nmsg.payload = {\n    \"deviceId\": \"alarm\",\n    \"at\": at,\n    \"channels\": {\n        \"alarm\": 0\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "c840259c.dd17b8"
            ]
        ]
    },
    {
        "id": "264bcbe6.2afeb4",
        "type": "function",
        "z": "ce282978.a5dac8",
        "name": "over lower",
        "func": "const at = msg.payload.at\n\nmsg.payload = {\n    \"deviceId\": \"alarm\",\n    \"at\": at,\n    \"channels\": {\n        \"alarm\": 2\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "c840259c.dd17b8"
            ]
        ]
    },
    {
        "id": "66d975ed.9d52ac",
        "type": "function",
        "z": "ce282978.a5dac8",
        "name": "msg",
        "func": "msg.payload = msg.payload.channels.alarm\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f95559e.800228",
        "type": "change",
        "z": "ce282978.a5dac8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "溫度告警",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.channels.alarm",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "溫度正常",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.channels.alarm",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "溫度過高",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload.channels.alarm",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "溫度過低",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.channels.alarm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 160,
        "wires": [
            []
        ]
    }
]