doraemon/Node-Red/node-red sample/unmodify/flows.json
[{"id":"d2002106.1a444","type":"tab","label":"send alarm with line notify","disabled":true,"info":""},{"id":"ce282978.a5dac8","type":"tab","label":"temperature upper lower","disabled":true,"info":""},{"id":"ffbdc7c4.ea1648","type":"tab","label":"send data to mssql","disabled":true,"info":""},{"id":"4c2563ad.902e8c","type":"tab","label":"send email sample","disabled":false,"info":""},{"id":"43804af1.87be54","type":"tab","label":"[Sample] reading-in","disabled":false,"info":""},{"id":"99fb06b3.dd07d8","type":"tab","label":"[Sample] mssql","disabled":false,"info":""},{"id":"92671aff.37b928","type":"tab","label":"[Sample] Forward Readings to MSSQL","disabled":true,"info":""},{"id":"27992ba0.e2ded4","type":"subflow","name":"Alarm To Event","info":"Input\n- from chameleon reading in module\n\nOutput\n- for chameleon reading out module","category":"","in":[],"out":[],"env":[{"name":"FROM","type":"str","value":""},{"name":"TO","type":"str","value":"_event"}],"color":"#DDAA99"},{"id":"6f64a63d.3899a8","type":"subflow","name":"Load Equipment Info","info":"Input\nfrom simplejson query\n\nOutput\n- msg.env\n    ```\n    {\n        'equipmentId': ...\n    }\n    ```\n- msg.ragne\n    ```\n    {\n        'from': '2020-11-27T02:06:23.165Z',\n        'to': '2020-11-27T08:06:23.165Z'\n    ```\n- msg.equipmentInfo\n    ```\n    {\n        'equipmentId': ...,\n        'equipmentName': ...,\n        'properties': {\n            key: value\n        }\n        'template': {\n            'templateId': template,\n            'channels': [...],\n            'commands': [...]\n        },\n        categorizedChannels: {\n            'alarm': [...]\n        }\n    }\n    ```\n    ","category":"","in":[{"x":80,"y":180,"wires":[{"id":"1c4c3628.d285da"}]}],"out":[{"x":1040,"y":340,"wires":[{"id":"1e824c6d.d7a414","port":0}]},{"x":280,"y":240,"wires":[{"id":"1c4c3628.d285da","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"a4f99c9f.8fc41","type":"function","z":"d2002106.1a444","name":"line notify","func":"ACCESS_TOKEN = 'FE3CXAlfkmbyOWtTHKoVwp7MpoqKeu05cWvwU3KCrdm';\n\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded',\n    'Authorization': 'Bearer ' + ACCESS_TOKEN,\n};\n\npayload = {\n    message: \"前處理#2 - 收板機 : \" + msg.payload\n};\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["fe481b59.44e8c8"]]},{"id":"fe481b59.44e8c8","type":"http request","z":"d2002106.1a444","name":"Line notify Messaging API 傳送","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":360,"wires":[["f322f88.5e63908"]]},{"id":"e9b85148.c060b","type":"reading-in","z":"d2002106.1a444","name":"","equipmentId":"Demo","categorizedReadingRequired":true,"channelNamesRequired":true,"x":160,"y":220,"wires":[["895b9ab1.183668"]]},{"id":"ed7195d0.5f3438","type":"inject","z":"4c2563ad.902e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":220,"wires":[["f93761e8.20921"]]},{"id":"b05c5422.618938","type":"debug","z":"4c2563ad.902e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":140,"wires":[]},{"id":"f93761e8.20921","type":"function","z":"4c2563ad.902e8c","name":"send to someone","func":"// msg.to = 'abcedf@yima.com.tw';\nmsg.topic = '(NodeRed) 這是信件主旨';\nmsg.payload = '這是信件內容'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["b05c5422.618938","f65d747c.936008"]]},{"id":"f65d747c.936008","type":"e-mail","z":"4c2563ad.902e8c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"abcdef@yima.com.tw","dname":"","x":800,"y":220,"wires":[]},{"id":"a6623eed.e5cf3","type":"forward-on-change","z":"27992ba0.e2ded4","name":"","dropReadingUndefined":false,"initialValue":"{}","initialValueType":"json","useInitialValue":false,"x":790,"y":300,"wires":[["de590ee9.c941c"]]},{"id":"855adaee.e11998","type":"function","z":"27992ba0.e2ded4","name":"extract","func":"const categorized_reading = msg.categorizedReading\n\nif (typeof categorized_reading === 'undefined') \n{\n    node.error('input error')\n    return\n}\n\nmsg.payload.reading = categorized_reading['stream_alarm']\nmsg.readingIn = msg.payload\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["970d2ef4.7647d"]]},{"id":"e28cbe4d.d759a","type":"function","z":"27992ba0.e2ded4","name":"build","func":"const at = msg.payload.at\nconst changes = msg.changes\n\nmsg.payload = {\n    'at': at,\n    'reading': changes\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":380,"wires":[["acfd8e10.9e1d7"]]},{"id":"970d2ef4.7647d","type":"function","z":"27992ba0.e2ded4","name":"Init","func":"const INIT = context.get('INIT')\nconst reading = msg.readingIn.reading\nconst channel_names = msg.channelNames\n// const euqipment_id = 'virtual_event'\nconst equipment_id = env.get('TO')\n\nlet output = [msg, null]    \nlet template = {\n    'templateId': equipment_id,\n    'channels': []\n}\n\nif (typeof INIT === 'undefined')\n{\n    for (let channel in reading)\n    {\n        let c = {\n            'channelId': channel,\n            'valueType': 'integer'\n        }\n        \n        if (channel in channel_names)\n        {\n            c.channelName = channel_names[channel]\n        }\n        \n        template.channels.push(c)\n    }\n    \n    msg.payload = template\n    msg.config = {\n        'path': `/api/v1/config/virtual/templates/${equipment_id}`\n    }\n    output = [null, msg]    \n    \n    context.set(\n        'INIT',\n        true)\n    // node.error(template)\n    // console.log(template)\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["4374ba5a.cf50a4"],["f970c119.e965c"]]},{"id":"f970c119.e965c","type":"api","z":"27992ba0.e2ded4","name":"","method":"PUT","path":"","x":420,"y":400,"wires":[["4374ba5a.cf50a4"]]},{"id":"4374ba5a.cf50a4","type":"function","z":"27992ba0.e2ded4","name":"put back reading","func":"const reading_in = msg.readingIn\n\nmsg.payload = reading_in\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[["a6623eed.e5cf3"]]},{"id":"de590ee9.c941c","type":"function","z":"27992ba0.e2ded4","name":"extract change","func":"const previous_alarms = context.get('PREVIOUS_ALARMS')\nconst reading = msg.payload.reading\n\nlet changes = {}\n\nif (previous_alarms !== undefined)\n{\n    for (let [channel, value] of Object.entries(reading))\n    {\n        if (value !== previous_alarms[channel])\n        {\n            changes[channel] = value\n            previous_alarms[channel] = value\n        }\n    }\n    \n    context.set('PREVIOUS_ALARMS', previous_alarms)\n}\nelse\n{\n    context.set('PREVIOUS_ALARMS', reading)\n    return\n}\n\nmsg.changes = changes\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":340,"wires":[["e28cbe4d.d759a"]]},{"id":"d4a9c8a1.742d58","type":"reading-in","z":"27992ba0.e2ded4","name":"","equipmentId":"${FROM}","categorizedReadingRequired":true,"channelNamesRequired":true,"x":150,"y":260,"wires":[["855adaee.e11998"]]},{"id":"acfd8e10.9e1d7","type":"reading-out","z":"27992ba0.e2ded4","name":"","equipmentId":"${TO}","x":1020,"y":380,"wires":[]},{"id":"1a2dfa5b.8d41f6","type":"api","z":"6f64a63d.3899a8","name":"fins equipments","method":"GET","path":"/api/v1/config/fins/equipments","x":460,"y":160,"wires":[["711c3b83.3c55b4"]]},{"id":"711c3b83.3c55b4","type":"function","z":"6f64a63d.3899a8","name":"fins","func":"const equipment_id = msg.env.equipmentId\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipment = payload[i]['equipment']\n    \n    if (equipment['equipmentId'] === equipment_id)\n    {\n        equipment_info['equipmentId'] = equipment_id\n        equipment_info['equipmentName'] = equipment['equipmentName']\n        equipment_info['properties'] = {}\n        \n        if (equipment.hasOwnProperty('properties'))\n        {\n            for(let i = 0; i < equipment['properties'].length; ++i)\n            {\n                let property = equipment['properties'][i]\n                \n                if (property['key'] === \"machineName\")\n                {\n                    equipment_info.properties['machineName'] = property['value']\n                }\n                if (property['key'] === \"machineNo\")\n                {\n                    equipment_info.properties['machineNo'] = property['value']\n                }\n            }\n        }\n    }    \n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/fins/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":200,"wires":[["176ccd6d.82ce73"],["ebfa2b01.abc488"]]},{"id":"ebfa2b01.abc488","type":"api","z":"6f64a63d.3899a8","name":"modbus equipments","method":"GET","path":"/api/v1/config/modbus/equipments","x":480,"y":240,"wires":[["40f08db4.ecb064"]]},{"id":"40f08db4.ecb064","type":"function","z":"6f64a63d.3899a8","name":"modbus","func":"const equipment_id = msg.env.equipmentId\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipments = payload[i]['equipments']\n    \n    for (let i = 0; i < equipments.length; ++i)\n    {\n        let equipment = equipments[i]\n        \n        if (equipment['equipmentId'] === equipment_id)\n        {\n            equipment_info['equipmentId'] = equipment_id\n            equipment_info['equipmentName'] = equipment['equipmentName']\n            equipment_info['properties'] = {}\n        \n            if (equipment.hasOwnProperty('properties'))\n            {\n                for(let i = 0; i < equipment['properties'].length; ++i)\n                {\n                    let property = equipment['properties'][i]\n                    \n                    if (property['key'] === \"machineName\")\n                    {\n                        equipment_info.properties['machineName'] = property['value']\n                    }\n                    if (property['key'] === \"machineNo\")\n                    {\n                        equipment_info.properties['machineNo'] = property['value']\n                    }\n                }\n            }\n        }    \n    }\n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/modbus/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["176ccd6d.82ce73"],["878c8dfc.fa053"]]},{"id":"6e31a58b.087bac","type":"api","z":"6f64a63d.3899a8","name":"mewtocol equipments","method":"GET","path":"/api/v1/config/mewtocol/equipments","x":480,"y":400,"wires":[["6d2afeca.1bcb7"]]},{"id":"17fddc73.61c884","type":"api","z":"6f64a63d.3899a8","name":"step7 equipments","method":"GET","path":"/api/v1/config/step7/equipments","x":470,"y":480,"wires":[["6291a623.0fc8e8"]]},{"id":"878c8dfc.fa053","type":"api","z":"6f64a63d.3899a8","name":"melsec equipments","method":"GET","path":"/api/v1/config/melsec/equipments","x":470,"y":320,"wires":[["9eb4061d.eb8b08"]]},{"id":"9eb4061d.eb8b08","type":"function","z":"6f64a63d.3899a8","name":"melsec","func":"const equipment_id = msg.env.equipmentId\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipments = payload[i]['equipmentList']\n    \n    for (let i = 0; i < equipments.length; ++i)\n    {\n        let equipment = equipments[i]\n        \n        if (equipment['equipmentId'] === equipment_id)\n        {\n            equipment_info['equipmentId'] = equipment_id\n            equipment_info['equipmentName'] = equipment['equipmentName']\n            equipment_info['properties'] = {}\n            \n            if (equipment.hasOwnProperty('properties'))\n            {\n                for(let i = 0; i < equipment['properties'].length; ++i)\n                {\n                    let property = equipment['properties'][i]\n                    \n                    if (property['key'] === \"machineName\")\n                    {\n                        equipment_info.properties['machineName'] = property['value']\n                    }\n                    if (property['key'] === \"machineNo\")\n                    {\n                        equipment_info.properties['machineNo'] = property['value']\n                    }\n                }\n            }\n        }    \n    }\n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/melsec/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["176ccd6d.82ce73"],["6e31a58b.087bac"]]},{"id":"3f95864e.1a6c9a","type":"function","z":"6f64a63d.3899a8","name":"unexpected","func":"node.error('unexpected')","outputs":0,"noerr":0,"x":470,"y":580,"wires":[]},{"id":"176ccd6d.82ce73","type":"api","z":"6f64a63d.3899a8","name":"template","method":"GET","path":"","x":900,"y":300,"wires":[["1e824c6d.d7a414"]]},{"id":"1e824c6d.d7a414","type":"function","z":"6f64a63d.3899a8","name":"template","func":"const template = msg.payload\nconst channels = msg.payload.channels\n\nlet stream_alarm = []\nfor(let i = 0; i < channels.length; ++i)\n{\n    let channel = channels[i]\n    \n    if (channel['category'].includes('stream_alarm'))\n    {\n        stream_alarm.push(channel['channelId'])\n    }\n}\n\nmsg.equipmentInfo.template = template\nmsg.equipmentInfo.categorizedChannels = {\n    'stream_alarm': stream_alarm\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":340,"wires":[[]]},{"id":"6d2afeca.1bcb7","type":"function","z":"6f64a63d.3899a8","name":"mewtocol","func":"const equipment_id = msg.env.equipmentId\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipment = payload[i]['equipment']\n    \n    if (equipment['equipmentId'] === equipment_id)\n    {\n        equipment_info['equipmentId'] = equipment_id\n        equipment_info['equipmentName'] = equipment['equipmentName']\n        equipment_info['properties'] = {}\n        \n        if (equipment.hasOwnProperty('properties'))\n        {\n            for(let i = 0; i < equipment['properties'].length; ++i)\n            {\n                let property = equipment['properties'][i]\n                \n                if (property['key'] === \"machineName\")\n                {\n                    equipment_info.properties['machineName'] = property['value']\n                }\n                if (property['key'] === \"machineNo\")\n                {\n                    equipment_info.properties['machineNo'] = property['value']\n                }\n            }\n        }\n    }    \n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/mewtocol/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["176ccd6d.82ce73"],["17fddc73.61c884"]]},{"id":"6291a623.0fc8e8","type":"function","z":"6f64a63d.3899a8","name":"step7","func":"const equipment_id = msg.env.equipmentId\n// const equipment_id = 'step7'\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipment = payload[i]['equipment']\n    \n    if (equipment['equipmentId'] === equipment_id)\n    {\n        equipment_info['equipmentId'] = equipment_id\n        equipment_info['equipmentName'] = equipment['equipmentName']\n        equipment_info['properties'] = {}\n        \n        if (equipment.hasOwnProperty('properties'))\n        {\n            for(let i = 0; i < equipment['properties'].length; ++i)\n            {\n                let property = equipment['properties'][i]\n                \n                if (property['key'] === \"machineName\")\n                {\n                    equipment_info.properties['machineName'] = property['value']\n                }\n                if (property['key'] === \"machineNo\")\n                {\n                    equipment_info.properties['machineNo'] = property['value']\n                }\n            }\n        }\n    }    \n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/step7/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":520,"wires":[["176ccd6d.82ce73"],["3f95864e.1a6c9a"]]},{"id":"1c4c3628.d285da","type":"function","z":"6f64a63d.3899a8","name":"input","func":"const target = msg.payload.targets[0].target\nconst type = msg.payload.targets[0].type\nconst range = msg.payload.range\n\nlet output = [msg, null]\n\nlet return_status_code = 200\n\nif (type !== \"table\")\n{\n    return_status_code = 403\n    output = [null, msg]\n}\n\nmsg.env = {\n    'equipmentId': target\n}\nmsg.statusCode = return_status_code\nmsg.range = range\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":210,"y":180,"wires":[["1a2dfa5b.8d41f6"],[]]},{"id":"18f6539d.76e9cc","type":"function","z":"6f64a63d.3899a8","name":"dev test","func":"// const equipment_id = msg.env.equipmentId\nconst equipment_id = 'step7'\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipment = payload[i]['equipment']\n    \n    if (equipment['equipmentId'] === equipment_id)\n    {\n        equipment_info['equipmentId'] = equipment_id\n        equipment_info['equipmentName'] = equipment['equipmentName']\n        equipment_info['properties'] = {}\n        \n        if (equipment.hasOwnProperty('properties'))\n        {\n            for(let i = 0; i < equipment['properties'].length; ++i)\n            {\n                let property = equipment['properties'][i]\n                \n                if (property['key'] === \"machineName\")\n                {\n                    equipment_info.properties['machineName'] = property['value']\n                }\n                if (property['key'] === \"machineNo\")\n                {\n                    equipment_info.properties['machineNo'] = property['value']\n                }\n            }\n        }\n    }    \n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/step7/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":200,"y":560,"wires":[[],[]]},{"id":"327b5e98.fada12","type":"function","z":"6f64a63d.3899a8","name":"virtual","func":"const equipment_id = msg.env.equipmentId\nconst payload = msg.payload\nconst status_code = msg.statusCode\n\nlet output = [null, msg]\nlet equipment_info = {}\n\nif (status_code !== 200)\n{\n    node.error(`unexpected status code: ${status_code}`)\n    return\n}\n\n// extract equipment info\nfor (let i = 0; i < payload.length; ++i)\n{\n    let equipment = payload[i]\n    \n    if (equipment['equipmentId'] === equipment_id)\n    {\n        equipment_info['equipmentId'] = equipment_id\n        equipment_info['equipmentName'] = equipment['equipmentName']\n        equipment_info['properties'] = {}\n        \n        if (equipment.hasOwnProperty('properties'))\n        {\n            for(let i = 0; i < equipment['properties'].length; ++i)\n            {\n                let property = equipment['properties'][i]\n                \n                if (property['key'] === \"machineName\")\n                {\n                    equipment_info.properties['machineName'] = property['value']\n                }\n                if (property['key'] === \"machineNo\")\n                {\n                    equipment_info.properties['machineNo'] = property['value']\n                }\n            }\n        }\n    }    \n}\n\nif (Object.entries(equipment_info).length !== 0)\n{\n    msg.config = {\n        'path': `/api/v1/config/virtual/templates/${equipment_id}`\n    }\n    msg.equipmentInfo = equipment_info\n    output = [msg, null]\n}\n\nreturn output;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":850,"y":740,"wires":[[],[]]},{"id":"beaa4b4.4aa77b8","type":"api","z":"6f64a63d.3899a8","name":"virtual equipments","method":"GET","path":"/api/v1/config/virtual/equipments","x":870,"y":700,"wires":[["327b5e98.fada12"]]},{"id":"c83aa42c.e49128","type":"switch","z":"ce282978.a5dac8","name":"forward channel","property":"payload.reading.temperature_C","propertyType":"msg","rules":[{"t":"gt","v":"23.1","vt":"num"},{"t":"btwn","v":"23.1","vt":"num","v2":"22","v2t":"num"},{"t":"lt","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":180,"wires":[["62f3e4c5.afd70c"],["b610e039.90d76"],["264bcbe6.2afeb4"]]},{"id":"62f3e4c5.afd70c","type":"function","z":"ce282978.a5dac8","name":"over upper","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 1\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":140,"wires":[["3163871a.23e348"]]},{"id":"b610e039.90d76","type":"function","z":"ce282978.a5dac8","name":"normal","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 0\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":180,"wires":[["3163871a.23e348"]]},{"id":"264bcbe6.2afeb4","type":"function","z":"ce282978.a5dac8","name":"over lower","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 2\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["3163871a.23e348"]]},{"id":"3163871a.23e348","type":"forward-on-change","z":"ce282978.a5dac8","name":"","dropReadingUndefined":false,"initialValue":"{}","initialValueType":"json","useInitialValue":false,"x":790,"y":180,"wires":[["f2806720.a65248"]]},{"id":"7ae93da.f2124c4","type":"reading-in","z":"ce282978.a5dac8","name":"","equipmentId":"Demo","categorizedReadingRequired":false,"channelNamesRequired":false,"x":120,"y":180,"wires":[["c83aa42c.e49128"]]},{"id":"2a832d5b.66d232","type":"e-mail","z":"ce282978.a5dac8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"bing@yima.com.tw","dname":"","x":1190,"y":180,"wires":[]},{"id":"895b9ab1.183668","type":"switch","z":"d2002106.1a444","name":"forward channel","property":"payload.reading.temperature_C","propertyType":"msg","rules":[{"t":"gt","v":"27.1","vt":"num"},{"t":"btwn","v":"27.1","vt":"num","v2":"26.1","v2t":"num"},{"t":"lt","v":"26.1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":220,"wires":[["87e81591.a2e5c8"],["b5c3f377.2b326"],["ec73abbc.c43518"]]},{"id":"87e81591.a2e5c8","type":"function","z":"d2002106.1a444","name":"over upper","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 1\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":180,"wires":[["7e442450.6a5c9c"]]},{"id":"b5c3f377.2b326","type":"function","z":"d2002106.1a444","name":"normal","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 0\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":220,"wires":[["7e442450.6a5c9c"]]},{"id":"ec73abbc.c43518","type":"function","z":"d2002106.1a444","name":"over lower","func":"const at = msg.payload.at\n\nmsg.payload = {\n    \"reading\": {\n        \"alarm\": 2\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":260,"wires":[["7e442450.6a5c9c"]]},{"id":"7e442450.6a5c9c","type":"forward-on-change","z":"d2002106.1a444","name":"","dropReadingUndefined":false,"initialValue":"{}","initialValueType":"json","useInitialValue":false,"x":850,"y":220,"wires":[["6d0f0865.dd04b8"]]},{"id":"f322f88.5e63908","type":"debug","z":"d2002106.1a444","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"f2806720.a65248","type":"function","z":"ce282978.a5dac8","name":"email message","func":"msg.topic = \"Demo 溫度告警\"\nvar message = 0\nvar status = msg.payload.reading[\"alarm\"]\n\nif (status == 0){\n    message = \"溫度正常\"\n}\nelse if(status == 1){\n    message = \"溫度過高 > 27.1\"\n}\nelse{\n    message = \"溫度過低 < 27.1\"\n}\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":180,"wires":[["2a832d5b.66d232"]]},{"id":"6d0f0865.dd04b8","type":"function","z":"d2002106.1a444","name":"email message","func":"var message = 0\nvar status = msg.payload.reading[\"alarm\"]\n\nif (status == 0){\n    message = \"溫度正常\"\n}\nelse if(status == 1){\n    message = \"溫度過高 > 27.1\"\n}\nelse{\n    message = \"溫度過低 < 27.1\"\n}\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":220,"wires":[["a4f99c9f.8fc41"]]},{"id":"700c666d.a131d8","type":"mssql","z":"ffbdc7c4.ea1648","name":"","server":"192.168.11.197","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"100","username":"SA","password":"p@55w0rd","database":"testdb","query":"","x":630,"y":220,"wires":[["7553f916.0dae58"]]},{"id":"7553f916.0dae58","type":"debug","z":"ffbdc7c4.ea1648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"6b4ba69a.bd12d8","type":"function","z":"ffbdc7c4.ea1648","name":"","func":"var count = msg.payload.reading[\"count\"]\n\n\nmsg.config = {\n    \"query\": \"INSERT INTO test_abc VALUES ('modbus','count',\" + count.toString() +\");\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":220,"wires":[["700c666d.a131d8"]]},{"id":"ac04c5ca.65b3c8","type":"reading-in","z":"ffbdc7c4.ea1648","name":"","equipmentId":"modbus","categorizedReadingRequired":false,"channelNamesRequired":false,"x":200,"y":220,"wires":[["6b4ba69a.bd12d8"]]},{"id":"bd99e60a.a95fe8","type":"reading-in","z":"43804af1.87be54","name":"","equipmentId":"Demo","categorizedReadingRequired":true,"channelNamesRequired":true,"x":230,"y":160,"wires":[["6aa3b76b.a19f28"]]},{"id":"6aa3b76b.a19f28","type":"debug","z":"43804af1.87be54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":160,"wires":[]},{"id":"bab30d3.2527df","type":"inject","z":"99fb06b3.dd07d8","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":240,"wires":[["6706544b.f80b5c"]]},{"id":"6706544b.f80b5c","type":"function","z":"99fb06b3.dd07d8","name":"","func":"const QUERY = `\n    CREATE TABLE demo (\n        at      BIGINT,\n        event   VARCHAR(64),\n        value   REAL\n    );\n`\n\nreturn {\n    config: {\n        query: QUERY\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":240,"wires":[["f5598172.0da5a"]]},{"id":"f5598172.0da5a","type":"mssql","z":"99fb06b3.dd07d8","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":810,"y":240,"wires":[["e7eea071.e7b24"]]},{"id":"e7eea071.e7b24","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"f3e7ea5a.6d9e18","type":"inject","z":"99fb06b3.dd07d8","name":"DROP TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":280,"wires":[["53f11d6c.9cbfe4"]]},{"id":"53f11d6c.9cbfe4","type":"function","z":"99fb06b3.dd07d8","name":"","func":"const QUERY = 'DROP TABLE demo;'\n\nreturn {\n    config: {\n        query: QUERY\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["e697d48d.1c4f68"]]},{"id":"e697d48d.1c4f68","type":"mssql","z":"99fb06b3.dd07d8","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":810,"y":280,"wires":[["5b5dd9dd.1b3788"]]},{"id":"5b5dd9dd.1b3788","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":280,"wires":[]},{"id":"120f56c4.9ee799","type":"mssql","z":"99fb06b3.dd07d8","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":810,"y":320,"wires":[["781b5aa2.eed134"]]},{"id":"d4a17d09.cbaa5","type":"inject","z":"99fb06b3.dd07d8","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":320,"wires":[["ddb90472.44bfc8"]]},{"id":"781b5aa2.eed134","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":320,"wires":[]},{"id":"7e9ab217.68582c","type":"reading-in","z":"92671aff.37b928","name":"","equipmentId":"Demo","categorizedReadingRequired":true,"channelNamesRequired":false,"x":280,"y":180,"wires":[["9ebbb9dc.d6a4d8"]]},{"id":"e1b83c6.be9f0c","type":"debug","z":"92671aff.37b928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"9ebbb9dc.d6a4d8","type":"function","z":"92671aff.37b928","name":"","func":"msg.payload.reading = msg.categorizedReading.mssql\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["7fca33df.54b92c"]]},{"id":"7fca33df.54b92c","type":"function","z":"92671aff.37b928","name":"","func":"const at = msg.payload.at\nlet query = ''\n\nfor (let key in msg.payload.reading) {\n    query += `INSERT INTO Demo VALUES (${at}, '${key}', ${msg.payload.reading[key]});`\n}\n\n\nreturn {\n    config: {\n        query: query\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["81db0278.1b36b","c5dfe449.965de8"]]},{"id":"c5dfe449.965de8","type":"mssql","z":"92671aff.37b928","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":910,"y":180,"wires":[["e1b83c6.be9f0c"]]},{"id":"81db0278.1b36b","type":"debug","z":"92671aff.37b928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":300,"wires":[]},{"id":"ddb90472.44bfc8","type":"function","z":"99fb06b3.dd07d8","name":"","func":"const QUERY = 'SELECT * FROM Demo ORDER BY at;'\n\nreturn {\n    config: {\n        query: QUERY\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["120f56c4.9ee799"]]},{"id":"f9a873ab.8f1b8","type":"inject","z":"99fb06b3.dd07d8","name":"NOWTIME","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":520,"wires":[["8f35f245.d2dc9"]]},{"id":"8f35f245.d2dc9","type":"function","z":"99fb06b3.dd07d8","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":520,"wires":[["dc9d741e.a298d8"]]},{"id":"dc9d741e.a298d8","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"93aa670c.13d958","type":"reading-in","z":"43804af1.87be54","name":"","equipmentId":"Demo123","categorizedReadingRequired":true,"channelNamesRequired":false,"x":230,"y":260,"wires":[["d70bccd8.b18e7"]]},{"id":"d70bccd8.b18e7","type":"debug","z":"43804af1.87be54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"d7633325.7d194","type":"inject","z":"99fb06b3.dd07d8","name":"CREATE1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":380,"wires":[["aa7fa811.7e16d8"]]},{"id":"aa7fa811.7e16d8","type":"function","z":"99fb06b3.dd07d8","name":"","func":"const QUERY = `\n    CREATE TABLE demo2 (\n        at      BIGINT,\n        event   VARCHAR(64),\n        value   REAL\n    );`\n\n\nreturn {\n    config: {\n        query: QUERY\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":380,"wires":[["6ffcec38.f92584"]]},{"id":"6ffcec38.f92584","type":"mssql","z":"99fb06b3.dd07d8","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":810,"y":380,"wires":[["6bedcc5f.21a7a4"]]},{"id":"6bedcc5f.21a7a4","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"ed0b7e82.6eb9f","type":"function","z":"99fb06b3.dd07d8","name":"","func":"const QUERY = 'SELECT * FROM demo3 ORDER BY at;'\n\nreturn {\n    config: {\n        query: QUERY\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":420,"wires":[["2a2bdfe4.4e12f"]]},{"id":"6676c97e.8281c8","type":"inject","z":"99fb06b3.dd07d8","name":"SELECT1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":420,"wires":[["ed0b7e82.6eb9f"]]},{"id":"2a2bdfe4.4e12f","type":"mssql","z":"99fb06b3.dd07d8","name":"","server":"192.168.12.116","port":"1433","encrypt":false,"connectionTimeout":"15000","requestTimeout":"15000","connectionPoolSize":"1","username":"sa","password":"applePie123","database":"sample","query":"","x":790,"y":420,"wires":[["2d7d81d8.df421e"]]},{"id":"2d7d81d8.df421e","type":"debug","z":"99fb06b3.dd07d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":420,"wires":[]}]