doraemon/kwct_遠端更新/node-red/cutter-1_node-red
[
    {
        "id": "c6482745.9c0bd8",
        "type": "tab",
        "label": "GYR",
        "info": ""
    },
    {
        "id": "3e7fe100.4094f",
        "type": "tab",
        "label": "detect_board",
        "info": ""
    },
    {
        "id": "60f6fd40.58d4f4",
        "type": "tab",
        "label": "board_utilization",
        "info": ""
    },
    {
        "id": "80400008.cf8ef",
        "type": "mqtt-broker",
        "z": "c6482745.9c0bd8",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c56fa89b.a77228",
        "type": "modbus-client",
        "z": "c6482745.9c0bd8",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "tcpHost": "192.168.60.6",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "20000"
    },
    {
        "id": "4627f670.2c9128",
        "type": "mqtt-broker",
        "z": "3e7fe100.4094f",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4056d6ef.db7d18",
        "type": "influxdb",
        "z": "60f6fd40.58d4f4",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "reading",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "3131fc98.ab8b74",
        "type": "mqtt-broker",
        "z": "60f6fd40.58d4f4",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f829e154.a7907",
        "type": "function",
        "z": "c6482745.9c0bd8",
        "name": "G",
        "func": "for (var i = 0; i < msg.payload.channels.length; ++i)\n{\n    if (msg.payload.channels[i].channelId == \"healthiness\")\n    {\n        if (msg.payload.channels[i].value.num == 0)\n        {\n            msg.payload = 1\n        }\n        else\n        {\n            msg.payload = 0\n        }\n\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "a29c361c.5dee78"
            ]
        ]
    },
    {
        "id": "e6c9f465.5d7258",
        "type": "mqtt in",
        "z": "c6482745.9c0bd8",
        "name": "",
        "topic": "/out/devices/GYR_light_1/readings",
        "qos": "1",
        "broker": "80400008.cf8ef",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "e092ffdf.1502b"
            ]
        ]
    },
    {
        "id": "e092ffdf.1502b",
        "type": "json",
        "z": "c6482745.9c0bd8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "f829e154.a7907",
                "2c981b28.3c4cd4",
                "bb99c69c.8e2788",
                "5ce99af7.adb934"
            ]
        ]
    },
    {
        "id": "2c981b28.3c4cd4",
        "type": "function",
        "z": "c6482745.9c0bd8",
        "name": "Y",
        "func": "for (var i = 0; i < msg.payload.channels.length; ++i)\n{\n    if (msg.payload.channels[i].channelId == \"healthiness\")\n    {\n        if (msg.payload.channels[i].value.num == 1)\n        {\n            msg.payload = 1\n        }\n        else\n        {\n            msg.payload = 0\n        }\n\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "77315ce5.91c7e4"
            ]
        ]
    },
    {
        "id": "bb99c69c.8e2788",
        "type": "function",
        "z": "c6482745.9c0bd8",
        "name": "R and buzzer",
        "func": "for (var i = 0; i < msg.payload.channels.length; ++i)\n{\n    if (msg.payload.channels[i].channelId == \"healthiness\")\n    {\n        if (msg.payload.channels[i].value.num == 2)\n        {\n            msg.payload = 1\n        }\n        else\n        {\n            msg.payload = 0\n        }\n\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "e02c6618.3be398",
                "5aa3353.54b65cc",
                "bd9daecb.1912e"
            ]
        ]
    },
    {
        "id": "a29c361c.5dee78",
        "type": "modbus-write",
        "z": "c6482745.9c0bd8",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "43",
        "quantity": "1",
        "server": "c56fa89b.a77228",
        "x": 900,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "77315ce5.91c7e4",
        "type": "modbus-write",
        "z": "c6482745.9c0bd8",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "44",
        "quantity": "1",
        "server": "c56fa89b.a77228",
        "x": 900,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e02c6618.3be398",
        "type": "modbus-write",
        "z": "c6482745.9c0bd8",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "45",
        "quantity": "1",
        "server": "c56fa89b.a77228",
        "x": 900,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5aa3353.54b65cc",
        "type": "modbus-write",
        "z": "c6482745.9c0bd8",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "42",
        "quantity": "1",
        "server": "c56fa89b.a77228",
        "x": 900,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bd9daecb.1912e",
        "type": "delay",
        "z": "c6482745.9c0bd8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "771b357a.7b2a2c"
            ]
        ],
        "outputLabels": [
            "0"
        ]
    },
    {
        "id": "771b357a.7b2a2c",
        "type": "function",
        "z": "c6482745.9c0bd8",
        "name": "turn off buzzer",
        "func": "msg.payload = 0\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "5aa3353.54b65cc"
            ]
        ]
    },
    {
        "id": "4475d465.3cef4c",
        "type": "mqtt in",
        "z": "3e7fe100.4094f",
        "name": "",
        "topic": "/out/devices/FX3G/readings",
        "qos": "1",
        "broker": "4627f670.2c9128",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "8168cce4.2985f"
            ]
        ]
    },
    {
        "id": "8168cce4.2985f",
        "type": "json",
        "z": "3e7fe100.4094f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "ce62065.9b6eef8"
            ]
        ]
    },
    {
        "id": "ce62065.9b6eef8",
        "type": "function",
        "z": "3e7fe100.4094f",
        "name": "detect_board",
        "func": "// get current data\nfor (var i = 0; i < msg.payload.channels.length; ++i)\n{\n    if (msg.payload.channels[i].channelId == \"D580\")\n    {\n        var current_at = msg.payload.at\n        var current_board_count = msg.payload.channels[i].value.num\n\n        break\n    }\n}\n\nif (current_at == null ||\n    current_board_count == null)\n{\n    return\n}\n\nvar previous_board_count = context.get(\"previous_board_count\")\ncontext.set(\n    \"previous_board_count\",\n    current_board_count)\n\n// detect\nif (previous_board_count == null ||\n    previous_board_count >= current_board_count)\n{\n    return\n}\n\nmsg.payload = {\n    \"deviceId\": \"detect_board\",\n    \"at\": current_at,\n    \"channels\":[\n        {\n            \"channelId\": \"changed\",\n            \"value\":{\n                \"num\": 1\n            }\n        }\n    ]\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "191214e1.3a362b"
            ]
        ]
    },
    {
        "id": "191214e1.3a362b",
        "type": "mqtt out",
        "z": "3e7fe100.4094f",
        "name": "",
        "topic": "/in/devices/detect_board/readings",
        "qos": "1",
        "retain": "",
        "broker": "4627f670.2c9128",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "bf4eb65a.ec3698",
        "type": "inject",
        "z": "60f6fd40.58d4f4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "fa0ae25c.fe4db"
            ]
        ]
    },
    {
        "id": "fa0ae25c.fe4db",
        "type": "function",
        "z": "60f6fd40.58d4f4",
        "name": "query",
        "func": "var local_time_zone = 8\n\n// get local time\nvar local = new Date()\nlocal.setHours(local.getHours() + local_time_zone)\n\n// determine local since and until\nvar local_since = new Date(\n    local.getFullYear(),\n    local.getMonth(),\n    local.getDate(),\n    0,\n    0,\n    0)\n\nvar local_until = new Date(local_since)\nlocal_until.setDate(local_until.getDate() + 1)\n\n// convert to utc\nvar since = _to_utc_time(local_since).toISOString()\nvar until = _to_utc_time(local_until).toISOString()\n\nmsg.query = `\n    SELECT changed\n    FROM detect_board\n    WHERE time >= '${since}'\n    AND time < '${until}'\n`\n\nnode.log(msg.query)\n\nreturn msg;\n\n\nfunction _to_utc_time(local_time)\n{\n    var utc_time = new Date(local_time)\n    utc_time.setHours(utc_time.getHours() - local_time_zone)\n\n    return utc_time\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "f50ae286.6a4b1"
            ]
        ]
    },
    {
        "id": "f50ae286.6a4b1",
        "type": "influxdb in",
        "z": "60f6fd40.58d4f4",
        "influxdb": "4056d6ef.db7d18",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "257680ab.a3a7f"
            ]
        ]
    },
    {
        "id": "257680ab.a3a7f",
        "type": "function",
        "z": "60f6fd40.58d4f4",
        "name": "utilization",
        "func": "var LEAD_TIME_SECONDS = 0\nvar PRODUCTION_TIME_SECONDS = 9\n\n// create timestamp and sort\nvar timestamp_list = []\nvar tag = 1\nmsg.payload.forEach(\n    function(item)\n    {\n        timestamp_list.push(\n            {\n                tag: tag,\n                time: _convert_to_seconds(Date.parse(item.time)) - LEAD_TIME_SECONDS\n            },\n            {\n                tag: tag,\n                time: _convert_to_seconds(Date.parse(item.time)) + PRODUCTION_TIME_SECONDS\n            });\n\n        ++tag\n    }\n)\n\ntimestamp_list.sort(\n    function(a, b)\n    {\n        return a.time - b.time\n    }\n)\n\n// calculate utilization\nvar queue_ = []\nvar start_time = 0\nvar end_time = 0\nvar today_utilization_seconds = 0\n\ntimestamp_list.forEach(\n    function(item)\n    {\n        if (queue_.length == 0)\n        {\n            start_time = item.time\n            queue_.push(item)\n        }\n        else if (queue_[0].tag == item.tag)\n        {\n            end_time = item.time\n            queue_.shift()\n        }\n        else\n        {\n            queue_.push(item)\n        }\n\n        if (queue_.length == 0)\n        {\n            today_utilization_seconds += end_time - start_time\n        }\n    }\n)\n\nnode.log(today_utilization_seconds / 3600)\n\nmsg.payload = {\n    \"deviceId\": \"FX3G_utilization\",\n    \"channels\":[\n        {\n            \"channelId\": \"total_utilization_hours\",\n            \"value\":{\n                \"num\": Math.floor(today_utilization_seconds / 3600 * 100) / 100\n            }\n        }\n    ]\n}\n\nreturn msg\n\n\n// function\nfunction _convert_to_seconds(epoch_milliseconds)\n{\n    return Math.floor(epoch_milliseconds / 1000)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "d228c8ed.29a378"
            ]
        ]
    },
    {
        "id": "d228c8ed.29a378",
        "type": "mqtt out",
        "z": "60f6fd40.58d4f4",
        "name": "",
        "topic": "/in/devices/FX3G_utilization/readings",
        "qos": "1",
        "retain": "",
        "broker": "3131fc98.ab8b74",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "5ce99af7.adb934",
        "type": "trigger",
        "z": "c6482745.9c0bd8",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "7",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ca427341.c0896"
            ]
        ]
    },
    {
        "id": "ca427341.c0896",
        "type": "function",
        "z": "c6482745.9c0bd8",
        "name": "turn off GYR",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "a29c361c.5dee78",
                "77315ce5.91c7e4",
                "e02c6618.3be398"
            ]
        ]
    }
]
