doraemon/Node-Red/node-red_2020 教學/node-red/example/node_context.json
[
    {
        "id": "81c6feca.a83a9",
        "type": "function",
        "z": "ba231e43.23ef08",
        "name": "accumulate",
        "func": "const val = msg.payload\n\ncount = context.get(\"count\")\nif (count === undefined)\n{\n    count = 0\n}\n\nlatest_count = count + val\n\ncontext.set(\"count\", latest_count)\n\nmsg.payload = latest_count\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "f6a07212.a7166"
            ]
        ]
    },
    {
        "id": "8584db6e.118e88",
        "type": "inject",
        "z": "ba231e43.23ef08",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "81c6feca.a83a9"
            ]
        ]
    },
    {
        "id": "ea1940c8.154ef",
        "type": "inject",
        "z": "ba231e43.23ef08",
        "name": "",
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "81c6feca.a83a9"
            ]
        ]
    },
    {
        "id": "db2b6c6c.aad988",
        "type": "inject",
        "z": "ba231e43.23ef08",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "81c6feca.a83a9"
            ]
        ]
    },
    {
        "id": "f6a07212.a7166",
        "type": "debug",
        "z": "ba231e43.23ef08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 200,
        "wires": []
    }
]
